/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

html{
    background-color: hsl(0, 0%, 95%);
    min-height: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}

.cartao {
    align-items: stretch;
    justify-content: center;
    position: relative;
    width: 75%;
    height: 35%;
    display: flex;      
}

.cartao section{
    padding: 50px;  
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 12px 0 0 12px;
}

.button1 input {
    color: hsl(31, 77%, 52%);
    background: hsl(0, 0%, 95%);
    border:none;
}

.button1 input:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(31, 77%, 52%);
    border: hsl(0, 0%, 95%) solid;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.button2 input {
    color: hsl(184, 100%, 22%);
    background: hsl(0, 0%, 95%);
    border:none;
}

.button2 input:hover {
    color: hsl(0, 0%, 95%);
    background: hsl(184, 100%, 22%);
    border: hsl(0, 0%, 95%) solid;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius:  0 12px 12px 0;   
}

.button3 input {
    color: hsl(179, 100%, 13%);
    background: hsl(0, 0%, 95%);
    border:none;  
}

.button3 input:hover  {
    color: hsl(0, 0%, 95%);
    background: hsl(179, 100%, 13%);
    border: hsl(0, 0%, 95%) solid;
}

.header {
    color: hsl(0, 0%, 95%);
    margin: 30px 0 30px;
    font-size: 35px;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;    
}

.text {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

#button {
    width: 180px;
    height: 55px;
    margin-top: 75px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.atribuicao {
    margin-top: 15px; 
    font-size: 11px;
    text-align: center; 
}

.atribuicao a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 1024px){
    .cartao {
        width: 40%;
        height: 90%;
        flex-direction: column;
        display: block;
    }
    
    .sedans{
        border-radius: 12px 12px 0 0;
    }

    .luxury{
        border-radius: 0 0 12px 12px;
    }
}

@media (max-width: 600px){
    .cartao {
        width: 75%;
        height: 80%;
    }    
}

